*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
}

.header-container{
    justify-content: space-between;
}


.header-options{
    width: 30%;
}
.unordered-list{
    justify-content: space-between;
}

header li{
    list-style-type: none;
}

header a{
    text-decoration: none;
    color: #081411;
}