*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.d-flex{
    display: flex;
}

/* HEADER */

.header-container{
    justify-content: space-between;
    padding: 1rem 4rem;
}

.header-options{
    width: 30%;
}

.header-buttons{
    width: 20%;
    justify-content: space-between;
}

.unordered-list{
    justify-content: space-between;
}

header li{
    list-style-type: none;
}

header a{
    text-decoration: none;
    color: #081411;
}