*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.d-flex{
    display: flex;
}

/* HEADER */

.header-container{
    justify-content: space-between;
    padding: 1rem 4rem;
}

.header-logo1{
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
}

.green{
    color: #286256;
}

.yellow{
    color: #E8B132;
}

.header-options{
    width: 40%;
}

.header-options{
    align-items: center;
    justify-content: center;
}

.unordered-list{
    gap: 2rem;
}

header li{
    list-style-type: none;
}

header a{
    text-decoration: none;
    color: #081411;
}

.header-buttons{
    width: 20%;
    justify-content: space-between;
    align-items: center;
}